@import "../_colors.scss";

.home {
  .nav-btn {
      width: auto;
      height: 2.5rem;
      font-size: 0.8rem;
      font-weight: bold;
      background-color: $bgColor;
      color:white;
      cursor: pointer;
      border-radius: 1rem;
      border: 0;

      &:hover {
      background-color:$redHover;
      }
  }
  .card {
    background-color: $secondaryBgColor;
    box-shadow: 0 5px 15px $greyShadow;
  }

  .icon {
    width: 3rem;
  }
}